body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  overflow-x: hidden !important;
  line-height: 25px;
  text-align: center;
}

.insta {
  min-height: 1400px;
}


.centered{
  margin-right: auto;
  margin-left: auto;
}

.img-logo {
	max-height: 50px;
}

.hidden {
  display: none;
}

.iframe {
	width: 700px; 
	height: 450px; 
	border: 0;"
}

.bigger {
  min-height: 500 px;
}

#video_player {
  display: table;
  line-height: 0;
  font-size: 0;
  background: #000;
}
#video_player video,
  #video_player figcaption {
    display: table-cell;
    vertical-align: top;
}
#video_player figcaption {
  width: 20%;
}
#video_player figcaption a {
  display: block;
  opacity: .5;
  transition: 1s opacity;
}
#video_player figcaption a img,
  figure video {
    width: 100%;
    height: auto;
}
#video_player figcaption a:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  #video_player video,
    #video_player figcaption {
      display: table-row;
    }
#video_player figcaption a {
  display: inline-block;
  width: 33.33%;
}
}

@media screen and (max-width: 800px) {

	.iframe {
		width: 500px; 
	}
}

@media screen and (max-width: 550px) {

	.iframe {
		width: 300px; 
	}
}