.pixeden  {
    height: 63px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;

}

.pd-icon-f1 {
    width: 68px;
    background: url("../assets/pd-icons/icon-f1.png") no-repeat;
}

.pd-icon-f2 {
    width: 68px;
    background: url("../assets/pd-icons/icon-f2.png") no-repeat;
}

.pd-icon-f3 {
    width: 68px;
    background: url("../assets/pd-icons/icon-f3.png") no-repeat;
}

.pd-icon-f4 {
    width: 68px;
    background: url("../assets/pd-icons/icon-f4.png") no-repeat;
}
